jwt:
  expiration: 86400000 # 24 hours
  refresh:
    expiration: 604800000 # 7 days

spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce_db
    username: postgres
    password: YOUR_DB_PASSWORD # Şifrenizi buraya yazın
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: your-email@gmail.com
    password: your-app-password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  mail:
    from: no-reply@yourapp.com
